#arbol {
	font-family	: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size	: 9px;
	width		: 90%;
	color		: #000;
	text-transform	: uppercase;
}

#navBar {
	padding: 10px;
	width: 20%;
	height: 362px;
	float: left;
	overflow-y: scroll;
	border-bottom: 1px solid #C8D0CE;
}

#navCont {
	float: right;	
}

#arbol a:hover{
	cursor		: pointer;
	font-size	: 10px;
	text-transform	: uppercase;
}