<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://des-proservipol.carabineros.cl"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Authorization, Content-Type, Accept"
</IfModule>