html {
 overflow-y:scroll;
}

body {
 margin: 15px auto 15px auto;
 padding: 15px;
 width: 800px;
 font-size:12px;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 color: #222222;
 border-top: 1px solid #999999;
 border-bottom: 2px solid #999999;
 border-left: 1px solid #999999;
 border-right: 2px solid #999999;
}

.page {
 margin: 20px auto 0px auto;
 padding: 10px;
 widht:100%;
 border-top: 1px solid #999999;
 border-bottom: 2px solid #999999;
 border-left: 1px solid #999999;
 border-right: 2px solid #999999;
}


.boton
{
 margin-top:10px;
 font-size:10px;
}


.inputs
{
 width:130px;
 height:12px;
 font-size:10px;
}

.aviso
{
 margin-top:15px;
 font-weight: bold;
 color:#339933;
}

.tabla_inicio
{
 margin: 0px auto 0px auto;
 text-align:center;
}

.tabla_celda_izq{
 width:50%;
 text-align:right;
} 
.tabla_celda_der{
 width:50%;
 text-align:left;
} 
